<div class="container">
    <div>
        <h1 class="page-header">Path Finder Visualizer</h1>
        <h6>Select an algorithm, and click run!</h6>
        <p>Current Path Finder Algorithm: <mark>Breadth First Search</mark></p>
    </div>
    <div class="grid" *ngIf="grid" (mouseleave)="handleMouseUp()">
        <div class="row" *ngFor="let row of grid">
            <nodeui class="nodeui" *ngFor="let node of row" [state]="node" (mousedown)="handleMouseDown(node)"
                (mouseup)="handleMouseUp(node)" (mouseleave)="handleMouseLeave(node)" (click)="handleMouseClick(node)">
            </nodeui>
        </div>
    </div>
    <div class="actions">
        <button class="btn btn-secondary" (click)="clearPath()">Clear Path</button>
        <button class="btn btn-primary" (click)="run()">Find Path</button>
        <button class="btn btn-default" (click)="clean()">Clean Grid</button>
    </div>
</div>